<%-include('partials/header');-%>
<div class="container">
  <div class="hero">
    <img
      class="hero-image"
      src="/images/watch-instagram-story.webp"
      alt="Instagram Story Viewer"
    />
    <div class="hero-container">
      <h1 class="title">IG Story Viewer</h1>
      <div class="title-desc">
        <p>
          WATCH
          <span
            ><img
              class="insta-logo"
              src="/images/instagram-logo.webp"
              alt="Instagram Logo"
          /></span>
          STORIES ANANYMOUSLY
        </p>
      </div>
      <div class="username-form">
        <form action="/" method="post">
          <input
            type="text"
            name="username"
            placeholder="Enter username"
            id="stories"
            required
          />
          <button type="submit">View Stories</button>
        </form>
      </div>
    </div>
  </div>

  <% if (username) { %>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var resultsElements = document.getElementsByClassName("results");
      for (var i = 0; i < resultsElements.length; i++) {
        resultsElements[i].style.display = "block";
      }
    });
  </script>

  <div class="results">
    <div class="user">
      <div class="user-bio">
        <img src="<%=avatar%>" alt="alt" class="profile-pic" />
        <span class="username-info"><%=username%></span>
        <p class="info-title"><%=fullname%></p>
      </div>
      <div class="user-details">
        <h3 class="info-title">
          Followers : <span class="info-data"><%=followerscount%></span>
        </h3>
        <h3 class="info-title">
          Following : <span class="info-data"><%=followingcount%></span>
        </h3>
        <h3 class="info-title">
          Category : <span class="info-data"><%=category%></span>
        </h3>
        <h3 class="info-title">
          Private : <span class="info-data"><%=isprivate%></span>
        </h3>
      </div>
      <div class="bio">
        <div class="info-title"><p>About Me 👻</p></div>
        <span><%=bio%></span>
      </div>
    </div>
    <div class="content">
      <div class="stories-wrapper">
        <% if (typeof stories !== 'undefined' && stories.length > 0) { %> <%
        stories.forEach(function(n) { %> <% if(n.media_type == 1) { %>
        <div class="stories-container">
          <img
            class="story"
            src="https://phosphor.utils.elfsightcdn.com/?url=<%= encodeURIComponent(n.thumbnail_url) %>"
            alt="photo story"
          />
          <button
            type="button"
            class="download-btn"
            data-src="<%= n.thumbnail_url %>"
          >
            Download
          </button>
          <!-- <div id="loading" class="loading">
            <img src="/images/loading.gif" alt="Loading..." />
          </div> -->
        </div>
        <% } else { %>
        <div class="stories-container">
          <video controls="true" class="story" src="<%= n.video_url %>"></video>
          <button
            type="button"
            class="download-btn"
            data-src="<%= n.video_url %>"
          >
            Download
          </button>
        </div>
        <% } %> <% }); %> <% } else { %> <% if(isprivate == "Yes") { %>
        <p class="error-title">Account is Private</p>
        <% } else { %>
        <p class="error-title">No stories uploaded in past 24 hours.</p>
        <% } %> <% } %>
      </div>
    </div>
  </div>
  <% }else { %> <%if(errormessage) { %>
  <div class="error-container">
    <p class="info-title"><%=errormessage%></p>
  </div>
  <%}%> <% } %>

  <div class="aboutsite-container">
    <div class="body-brand">
      <img
        class="brand-logo"
        src="/images/ig-story-viewer.webp"
        alt="IG Story Viewer"
      />
      <h2 class="brand-title">IG Story Viewer</h2>
    </div>
    <div class="body-title-desc">
      <p>WATCH INSTAGRAM STORIES WITHOUT LETTING THEM KNOW</p>
    </div>
    <div id="about" class="about-us">
      <h2 class="section-title">About us</h2>
      <div class="site-desc">
        <p>
          IG Story Viewer for seamless Instagram story viewing. Our anonymous IG
          story viewer ensures privacy, while our Instagram story download
          feature lets you save moments effortlessly. Check out profiles with
          our Instagram profile viewer and enjoy Instagram story viewers free of
          charge!
        </p>
        <h2><strong>Services we provide</strong></h2>
        <ul class="services-list">
          <li>IG Story Viewer</li>
          <li>Anonymous IG Story Viewer</li>
          <li>Instagram Story Download</li>
          <li>Instagram Profile Viewer</li>
          <li>Instagram Story Viewers Free</li>
        </ul>
      </div>
    </div>

    <div>
      <h2 class="section-title">Why IG Story Viewer</h2>
      <div>
        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/free-to-use.webp"
              alt="IG Viewer is free"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer provides free features like anonymous story
              viewing, easy story downloads, and profile exploration. Enjoy
              Instagram story viewers free and enhance your IG experience
              effortlessly!
            </p>
          </div>
        </div>

        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/privately-watch-ig-stories.webp"
              alt="IG Viewer hepls to maingain privacy"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer ensures your privacy with its anonymous IG story
              viewer and Instagram profile viewer. Watch stories and explore
              profiles discreetly, and enjoy free Instagram story downloads with
              our
              <a
                class="link"
                href="https://securitysection.in/importance-of-digital-privacy/"
                >privacy-focused</a
              >
              service.
            </p>
          </div>
        </div>
        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/download-stories.webp"
              alt="IG Viewer lets you download ig stories"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer offers a free Instagram story download feature,
              allowing you to save stories effortlessly.
            </p>
          </div>
        </div>
        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/easy-to-use.webp"
              alt="IG Viewer is easy to use"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer is designed for ease of use. With our IG story
              viewer, you can quickly and effortlessly view stories. Our
              anonymous IG story viewer ensures private viewing, while the
              Instagram story download feature lets you save stories with a
              single click.
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="section-title">How to Use IG Story Viewer</h2>
    <div class="steps">
      <h3>Steps to Use IG Story Viewer</h3>
      <p>
        Follow these steps to view Instagram stories anonymously, download
        stories, or view Instagram profiles:
      </p>
      <ol class="">
        <li>
          <strong>Open IG Story Viewer Website:</strong> Go to the IG Story
          Viewer website at
          <a class="link" href="https://www.igstoryviewer.pro"
            >www.igstoryviewer.pro</a
          >.
        </li>
        <li>
          <strong>Enter Instagram Username or URL</strong>
          <ul class="services-list">
            <li>
              In the search bar on the homepage, enter the Instagram username,
              profile URL, or story URL of the person whose story you want to
              view or download.
            </li>
            <li>
              Make sure you enter the correct username or URL to ensure accurate
              results.
            </li>
          </ul>
        </li>
        <li>
          <strong>Select Desired Action</strong>
          <ul class="services-list">
            <li>
              <strong>View Stories:</strong> Click on the "View Story" button to
              see the latest stories posted by the user. You can view stories
              anonymously without notifying the user.
            </li>
            <li>
              <strong>Download Stories:</strong> If you want to download a
              story, click on the "Download Story" button. The story will be
              saved to your device.
            </li>
            <li>
              <strong>View Profile:</strong> To see the Instagram profile, click
              on the "View Profile" button. This allows you to see the profile
              details and public posts.
            </li>
          </ul>
        </li>
        <li>
          <strong>Enjoy Anonymous Viewing:</strong> The IG Story Viewer ensures
          that your identity remains anonymous. The Instagram user will not be
          notified that you have viewed their stories or profile.
        </li>
        <li>
          <strong>Free and Easy to Use:</strong> IG Story Viewer is a free tool
          that provides quick and easy access to Instagram stories and profiles.
          There is no need to create an account or log in.
        </li>
      </ol>
    </div>

    <div class="faq">
      <div class="accordion__wrapper">
        <h1 class="accordion__title">Frequently Asked Questions</h1>
        <div class="accordion">
          <div class="accordion__header">
            <h2 class="accordion__question">What is IG Story Viewer?</h2>
            <span class="accordion__icon">
              <span class="plus" id="accordion-icon">+</span>
            </span>
          </div>
          <div class="accordion__content">
            <p class="accordion__answer">
              <strong>IG Story Viewer</strong> is a user-friendly tool that
              allows you to view
              <a class="link" href="https://www.instagram.com">Instagram</a>
              stories effortlessly. With our platform, you can watch stories
              anonymously, download them, and explore profiles without hassle.
            </p>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__header">
            <h2 class="accordion__question">
              How does the anonymous IG story viewer work?
            </h2>
            <span class="accordion__icon">
              <span class="plus" id="accordion-icon">+</span>
            </span>
          </div>
          <div class="accordion__content">
            <p class="accordion__answer">
              Our <strong>anonymous IG story viewer</strong> lets you watch
              Instagram stories without revealing your identity. Simply enter
              the username of the account whose stories you want to view, and
              you can watch them discreetly.
            </p>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__header">
            <h2 class="accordion__question">
              Can I download Instagram stories using IG Story Viewer?
            </h2>
            <span class="accordion__icon">
              <span class="plus" id="accordion-icon">+</span>
            </span>
          </div>
          <div class="accordion__content">
            <p class="accordion__answer">
              Yes, you can! Our platform offers a seamless
              <strong>Instagram story download</strong> feature. Just find the
              story you want to save, click the download button, and it will be
              saved to your device instantly.
            </p>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__header">
            <h2 class="accordion__question">
              How do I use the Instagram profile viewer?
            </h2>
            <span class="accordion__icon">
              <span class="plus" id="accordion-icon">+</span>
            </span>
          </div>
          <div class="accordion__content">
            <p class="accordion__answer">
              Using the <strong>Instagram profile viewer</strong> is simple.
              Enter the username of the profile you wish to explore, and you can
              browse their content without needing to follow them.
            </p>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__header">
            <h2 class="accordion__question">Are these features free to use?</h2>
            <span class="accordion__icon">
              <span class="plus" id="accordion-icon">+</span>
            </span>
          </div>
          <div class="accordion__content">
            <p class="accordion__answer">
              Absolutely! All our features, including the IG story viewer,
              anonymous IG story viewer, Instagram story download, and Instagram
              profile viewer, are completely free. Enjoy
              <strong>Instagram story viewers free</strong> with IG Story
              Viewer!
            </p>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__header">
            <h2 class="accordion__question">Is IG Story Viewer easy to use?</h2>
            <span class="accordion__icon">
              <span class="plus" id="accordion-icon">+</span>
            </span>
          </div>
          <div class="accordion__content">
            <p class="accordion__answer">
              Yes, IG Story Viewer is designed to be intuitive and
              user-friendly. Whether you are viewing stories, downloading them,
              or exploring profiles, our platform ensures a smooth and easy
              experience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('partials/footer');-%>
