<%-include('partials/header');-%>
<div class="container">
  <div class="hero">
    <img
      class="hero-image"
      src="/images/watch-instagram-story.webp"
      alt="Instagram Story Viewer"
    />
    <div class="hero-container">
      <h1 class="title">IG Story Viewer</h1>
      <div class="title-desc">
        <p>
          WATCH
          <span
            ><img
              class="insta-logo"
              src="/images/instagram-logo.webp"
              alt="Instagram Logo"
          /></span>
          STORIES ANANYMOUSLY
        </p>
      </div>
      <div class="username-form">
        <form action="/" method="post">
          <input type="text" name="username" placeholder="Enter username" />
          <button type="submit">View Stories</button>
        </form>
      </div>
    </div>
  </div>

  <div class="results">
    <div class="user">
      <div class="user-bio">
        <img src="<%=avatar%>" alt="alt" class="profile-pic" />
        <span class="username-info"><%=username%></span>
        <p class="info-title"><%=fullname%></p>
      </div>
      <div class="user-details">
        <h3 class="info-title">
          Followers : <span class="info-data"><%=followerscount%></span>
        </h3>
        <h3 class="info-title">
          Following : <span class="info-data"><%=followingcount%></span>
        </h3>
        <h3 class="info-title">
          Category : <span class="info-data"><%=category%></span>
        </h3>
      </div>
      <div class="bio">
        <div class="info-title">About Me 👻</div>
        <span><%=bio%></span>
      </div>
    </div>
    <div class="content">
      <div class="stories-wrapper">
        <% if (typeof stories !== 'undefined' && stories.length > 0) { %> <%
        stories.forEach(function(n) { %>
        <div class="stories-container">
          <video controls="true" class="story" src="<%= n.video_url %>"></video>
          <button
            type="button"
            class="download-btn"
            data-src="<%= n.video_url %>"
          >
            Download
          </button>
        </div>
        <% }); %> <% } else { %>
        <p>No stories available</p>
        <% } %>
      </div>
    </div>
  </div>
  <% if (username == null) { %>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var resultsElements = document.getElementsByClassName("results");
      for (var i = 0; i < resultsElements.length; i++) {
        resultsElements[i].style.display = "none";
      }
    });
  </script>
  <% } %>

  <div class="aboutsite-container">
    <div class="footer-brand">
      <img
        class="brand-logo"
        src="/images/ig-story-viewer.webp"
        alt="IG Story Viewer"
      />
      <h2 class="brand-title">IG Story Viewer</h2>
    </div>
    <div class="body-title-desc">
      <p>WATCH INSTAGRAM STORIES WITHOUT LETTING THEM KNOW</p>
    </div>
    <div class="about-us">
      <h2 class="section-title">About us</h2>
      <div class="site-desc">
        <p>
          IG Story Viewer for seamless Instagram story viewing. Our anonymous IG
          story viewer ensures privacy, while our Instagram story download
          feature lets you save moments effortlessly. Check out profiles with
          our Instagram profile viewer and enjoy Instagram story viewers free of
          charge!"
        </p>
      </div>
    </div>

    <div>
      <h2 class="section-title">Why IG Story Viewer</h2>
      <div>
        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/free-to-use.webp"
              alt="IG Viewer is free"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer provides free features like anonymous story
              viewing, easy story downloads, and profile exploration. Enjoy
              Instagram story viewers free and enhance your IG experience
              effortlessly!
            </p>
          </div>
        </div>

        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/privately-watch-ig-stories.webp"
              alt="IG Viewer hepls to maingain privacy"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer ensures your privacy with its anonymous IG story
              viewer and Instagram profile viewer. Watch stories and explore
              profiles discreetly, and enjoy free Instagram story downloads with
              our privacy-focused service.
            </p>
          </div>
        </div>
        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/download-stories.webp"
              alt="IG Viewer lets you download ig stories"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer offers a free Instagram story download feature,
              allowing you to save stories effortlessly.
            </p>
          </div>
        </div>
        <div class="features">
          <div>
            <img
              class="feature-image"
              src="/images/easy-to-use.webp"
              alt="IG Viewer is easy to use"
              srcset=""
            />
          </div>
          <div class="feature-desc">
            <p>
              IG Story Viewer is designed for ease of use. With our IG story
              viewer, you can quickly and effortlessly view stories. Our
              anonymous IG story viewer ensures private viewing, while the
              Instagram story download feature lets you save stories with a
              single click.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="faq">
      <div class="container">
        <div class="accordion__wrapper">
          <h1 class="accordion__title">Frequently Asked Questions</h1>

          <div class="accordion">
            <div class="accordion__header">
              <h2 class="accordion__question">
                What is the purpose of this pen?
              </h2>
              <span class="accordion__icon">
                <span class="plus" id="accordion-icon">+</span>
            </span>
            </div>
            <div class="accordion__content">
              <p class="accordion__answer">
                This pen is designed to provide web developers with boilerplate
                code for a FAQ Accordion.
              </p>
            </div>
          </div>

        
          <div class="accordion">
            <div class="accordion__header">
              <h2 class="accordion__question">What is an accordion?</h2>
              <span class="accordion__icon">
                <span class="plus" id="accordion-icon">+</span>
            </span>
            </div>
            <div class="accordion__content">
              <p class="accordion__answer">
                An accordion is a vertically stacked list of headers that users
                can click on to reveal more information about a business. With
                an accordion, when someone visits your web page, they will see a
                list of headers.
              </p>
            </div>
          </div>

          
          <div class="accordion">
            <div class="accordion__header">
              <h2 class="accordion__question">
                How can I customize the accordion?
              </h2>
              <span class="accordion__icon">
                <span class="plus" id="accordion-icon">+</span>
            </span>
            </div>
            <div class="accordion__content">
              <p class="accordion__answer">
                You can customize the accordion by modifying the CSS styles and
                changing the HTML structure as per your needs. You can also add
                JavaScript to enhance its functionality.
              </p>
            </div>
          </div>

          
          <div class="accordion">
            <div class="accordion__header">
              <h2 class="accordion__question">Is this accordion responsive?</h2>
              <span class="accordion__icon">
                <span class="plus" id="accordion-icon">+</span>
            </span>
            </div>
            <div class="accordion__content">
              <p class="accordion__answer">
                Yes, this accordion is designed to be responsive and will adjust
                its layout based on the screen size to ensure a good user
                experience on both desktop and mobile devices.
              </p>
            </div>
          </div>

      
          <div class="accordion">
            <div class="accordion__header">
              <h2 class="accordion__question">
                Can I use this accordion in my project?
              </h2>
              <span class="accordion__icon">
                <span class="plus" id="accordion-icon">+</span>
            </span>
            </div>
            <div class="accordion__content">
              <p class="accordion__answer">
                Absolutely! Feel free to use this accordion in your projects.
                You can modify and adapt it as needed to fit your requirements.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<%-include('partials/footer');-%>
