<%-include('partials/header');-%>
<div class="container">
    <div class="hero">
        <img class="hero-image" src="/images/watch-instagram-story.webp" alt="Instagram Story Viewer">
        <div class="hero-container">
            <div class="title">IG Story Viewer</div>
        <div class="title-desc"><p>WATCH <span><img class="insta-logo" src="/images/instagram-logo.webp" alt="Instagram Logo"></span> STORIES ANANYMOUSLY</p></div>
        <div class="username-form">
            <form action="/" method="post">
                <input type="text" name="username" placeholder="Enter username"/>
                <button type="submit">View Stories</button>
            </form>
        </div>
        </div>
    </div>
    

    <div class="results">
        <div class="user">
            <div class="user-bio">
                <img src="<%=avatar%>" alt="alt" class="profile-pic">
                <span class="username-info"><%=username%></span>
                <p class="info-title"><%=fullname%></p>
            </div>
            <div class="user-details">
                <h3 class="info-title">Followers : <span class="info-data"><%=followerscount%></span></h3>
                <h3 class="info-title">Following : <span class="info-data"><%=followingcount%></span></h3>
                <h3 class="info-title">Category : <span class="info-data"><%=category%></span></h3>
            </div>
        </div>
        <div class="content">
            content goes here
        </div>
        
    </div>


</div>
<% if (username == null) { %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var resultsElements = document.getElementsByClassName("results");
            for (var i = 0; i < resultsElements.length; i++) {
                resultsElements[i].style.display = "none";
            }
        });
    </script>
<% } %>
<%-include('partials/footer');-%>
   
